@font-face {
    font-family: 'Samliphopangche'; 
    src: url('../font/SDSamliphopangcheTTFBasic.ttf') format('truetype');
    
    /* 폰트의 기본 굵기와 스타일 설정 (선택 사항) */
    font-weight: Ba; 
    font-style: Ba;
    
    /* 폰트 로딩 전략: 필수(block), 권장(swap) */
    font-display: swap; 
}


/* Pretendard 폰트 적용 */
body {
    font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
    line-height: 1.5;
    margin: 0;
}
html, body {
    overflow-x: hidden;
    max-width: 100%;
}

img {
    -webkit-user-drag: none; /* Webkit 기반 브라우저 */
}

a {
    /* 1. 텍스트 선택 방지 (파란색 영역 잡히는 현상 방지) */
    user-select: none; 
    -webkit-user-select: none; /* Chrome, Safari, 구형 Edge */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE/Edge */
    
    /* 2. 모바일/터치 기기에서 탭 하이라이트 방지 (파란색 또는 회색 오버레이 방지) */
    -webkit-tap-highlight-color: transparent; /* iOS, Android Webkit */
}

body, .container {
    /* 표준 속성: 콘텐츠 선택(하이라이트)을 비활성화 */
    user-select: none; 
    
    /* -webkit- 접두사: Chrome, Safari 등 Webkit 기반 브라우저 */
    -webkit-user-select: none; 
    
    /* -moz- 접두사: Firefox */
    -moz-user-select: none; 
    
    /* -ms- 접두사: IE/Edge */
    -ms-user-select: none; 
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: #EAFAFF;
    overflow: hidden;
}

/* 컨텐츠 래퍼: 좌우 여백 설정 */
.content-wrap {
    /* 좌우 여백을 375px 기준 20px (5.33vw)로 설정 */
    /* padding-left: 5.33vw;
    padding-right: 5.33vw; */
}



/* con1 */
.con1 {
    background-image: url('/images/con1-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    position: relative;
}

.con1 .koica {
    position: absolute;
    top: 15.3846vw;
    right: 0;
    width: 80.7692vw;
}
.con1 .intro-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10.2564vw;
    padding-top: 66.9231vw;
    box-sizing: border-box;
    padding-bottom: 45.1282vw;
}
.con1 .intro-wrap .txt {
    width: 64.3590vw;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
}
.con1 .txt1 {
}
.con1 .txt2 {
}
.con1 .title-wrap {
    position: relative;
}
.con1 .title-wrap .korea {
    width: 77.9487vw;
    position: absolute;
    top: 40.5128vw;
    left: 50%;
    transform: translateX(-50%);
}
.con1 .title-wrap .sun {
    width: 100%;
    display: block; 
    margin: auto;

}

/* con2 */
.con2 {
    background-image: url(/images/con2-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

}
.con2 .web1 {
    width: 87.1795vw;
    display: block;
    margin: auto;
    padding-bottom: 122.5641vw;
    box-sizing: border-box;
}

.con2 .mini-web {
    width: 44.6154vw;
}
.con2 .web2 {
    position: absolute;
    left: 3.8462vw;
    top: 79.2308vw;
}
.con2 .web3 {
    position: absolute;
    right: 3.8462vw;
    top: 101.7949vw;
}
.con2 .zip-file {
    width: 32.3077vw;
    position: absolute;
    left: 8.4615vw;
    bottom: 16.4103vw;
}


/* con3 */
.con3 {
    position: relative;
    background-image: url(/images/cloud-grp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
    height: 102.5641vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25.6410vw;
}
.con3 p, strong {
    font-family: "Samliphopangche", sans-serif;
    text-align: center;
    margin: 0;
}
.con3 p:nth-of-type(1) {
    font-size: 5.1282vw;
    margin-bottom: 1.0513vw;
}
.con3 p:nth-of-type(2) {
    font-size: 7.6923vw;
    line-height: 10.2564vw;
}
.con3 p:nth-of-type(2) .pekoo {
    color: #00B0EB;
    font-size: 8.2051vw;
    display: inline-block; 
    position: relative; 
    z-index: 10;
}

.con3 p:nth-of-type(2) .pekoo::after {
    content: "";
    display: block;
    width: 102%; 
    height: 3.3333vw; 
    background-color: #A7E1F4;    
    position: absolute;
    left: -0.2vw;
    bottom: 1vw; 
    z-index: -1; 
}
.con3 .peko-intro {
    /* margin-top: 6vw; */
}
.con3 .peko-intro .koicaa {
    display: block;
    font-size: 6.6667vw;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 2vw;
    color: #006B8F;
}
.con3 .peko-intro .koicaa,
.con3 .peko-intro p {
    transform: translateY(-8vw);
}




/* con4 */
.con4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10.2564vw;

    padding-left: 5.33vw; 
    padding-right: 5.33vw;
    box-sizing: border-box;
}
.con4 .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@keyframes spin {
from {
    transform: rotate(0deg); 
}
to {
    transform: rotate(360deg);
}
}

.con4 .profile .flower {
    position: absolute;
}
.con4 .profile .pink-f {
    width: 7.4359vw;
}
.con4 .profile .yellow-f {
    width: 8.2051vw;
}
.con4 .profile .pink-f1 {
    left: 0;
    top: 4.8718vw;
    animation: spin 7s linear infinite reverse; 
}

.con4 .profile .yellow-f1 {
    left: -4.1026vw;
    bottom: 10.7692vw;
    animation: spin 4s linear infinite ; 
}

.con4 .profile .pink-f2 {
    right: 40vw;
    bottom: 9.4872vw;
    animation: spin 6s linear infinite reverse;
}

.con4 .profile .yellow-f2 {
    right: 37.4359vw;
    top: 4.1026vw;
    animation: spin 5.5s linear infinite ;
}

    .con4 .about-peko {
        margin-bottom: 18.9744vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5.1282vw;
    }
    .con4 .about-peko .clover {
        width: 29.2308vw;
        
    }
    .con4 .about-peko .about-cards {
        display: flex;
    gap: 4.1026vw;
    white-space: nowrap;
    overflow-x: auto;

    
    scroll-snap-type: x mandatory;   
    -webkit-overflow-scrolling: touch; 
    scroll-behavior: smooth;           
    

    width: 100vw;
    box-sizing: content-box;
    /* padding-left: 33.334vw;  */
    /* padding-right: 33.334vw; */
    scroll-padding-left: 38.334vw; /* 대략 중앙에 올 수 있도록 조정된 값 */
    scroll-padding-right: 38.334vw; /* 대략 중앙에 올 수 있도록 조정된 값 */

    
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */

}
    .con4 .about-peko .about-cards::-webkit-scrollbar {
    display: none; /* 스크롤바 영역 자체를 숨김 */
}

.con4 .about-peko .about-cards .slide {
    width: 23.3333;
    height: 35.6410vw;
    flex-shrink: 0;
    scroll-snap-align: center; 
    }


    

    .con4 .about-peko .about-cards .cd1 {
        /* margin-left: 3vw; */
    }

    .con4 .about-peko .about-cards .cd5 {
        /* margin-right: 3vw; */
    }

    .con4 .profile .profile-img {
        /* width: 33.5897vw; */
        /* height: 40.2564vw; */
        width: 88.9744vw;
        top: 0;

    }


/* con5 */
.con5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/con5-bg.svg');
    background-position: center 0;
    overflow: hidden; 
    position: relative;
    margin-bottom: 0; 
    background-repeat: no-repeat;
    background-size: cover;

}
.con5 .event-title {
    margin-top: 32.0513vw;
}

.con5 h2 {
    text-align: center;
    box-sizing: border-box;
    margin-top: 15.3846vw;
    margin-bottom: 8.7179vw;   
    font-family: "Samliphopangche", sans-serif;
    font-size: 7.1795vw;
    line-height: 1.4;
}

.con5 h2 strong {
    color: #F06C4E;
}

.con5 .pekosimko-img {
    width: 92.3077vw;
    margin: auto;
}

.con5 .simko-message {
    display: flex;
    flex-direction: column;    
    gap: 3.5897vw;
    margin-top: 15.3846vw;
    margin-bottom: 16.6667vw;
}
.con5 .simko-message p {
    text-align: center;
    margin: 0;
    font-size: 4.1026vw;
    line-height: 2;
}
.con5 .how-to-join {    
    margin-bottom: 10.2564vw;
    position: relative;
}
.con5 .how-to-join img {
    width: 92.3077vw;
    margin: auto;
    display: block;
}
.con5 .how-to-join .hashtag {
    width: 83.5897vw;
    height: 7.1795vw;
    border: 0.2564vw solid #F06C4E;
    border-radius: 8vw;
    position: absolute;
    bottom: 6.6667vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.8205vw;    
    font-family: 'Pretendard', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    background-color: #FFFAEF;
}
.con5 .how-to-join .hashtag-wrap {
    display: flex;
    gap: 2vw;
    transform: translateX(1vw);
    padding-top: 0.2vw;
    box-sizing: border-box;
}
.con5 .how-to-join .hashtag-wrap span {
    color: #F06C4E;
}
.con5 .how-to-join .hashtag-wrap strong {
    font-family: 'Pretendard', sans-serif;
}

.con5 .how-to-join .clipboard {
    color: #fff;
    width: 12.8205vw;
    height: 7.1795vw;
    background-color: #F06C4E;
    border: 0.2564vw solid #F06C4E;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(3.5vw);
    /* line-height: 1; */
    border-top-right-radius: 7.1795vw;
    border-bottom-right-radius: 7.1795vw;
}

.con5 .how-to-join .clipboard span {
    transform: translateX(-0.5vw);
}

.con5 .how-to-join .hashtag::before {
    /* content: url('/images/tria.svg'); */
    position: absolute;
    width: 5.6410vw;
    height: 4.1026vw;
    top:-3.2052vw;
    left: 25vw;
}

.con5 .simko-message p :nth-child(1){}
.con5 .simko-message p :nth-child(2){}

.con5 .about-event {
    margin-bottom: 17.9487vw;
}
.con5 .about-event .prize {
    display: flex;
    flex-direction: column;
    gap: 8.9744vw;
    width: 80vw;
    margin: auto;
}
.con5 .about-event .prize > img {
    width: 66.9231vw;
    display: block;
    margin: auto;
}
.con5 .about-event .prize .event-details {
    display: flex;
    flex-direction: column;
    gap: 3.8462vw;
    margin: 0;
}
.con5 .about-event .prize .event-details .event {
    display: flex;
    gap: 7.1795vw;
}
.con5 .about-event .prize .event-details .event .label {
    font-size: 3.0769vw;
    font-weight: 700;
    color: #F06C4E;
    padding: 0.5128vw 2.2641vw;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.40);
    border: 0.2564vw solid #F06C4E;
    display: inline-block;
    border-radius: 6.4103vw;
    height: 5.8462vw;
    width: 19.85vw;
    text-align: center;
}
.con5 .about-event .prize .event-details .event .content {
    font-size: 3.0769vw;
    margin: 0;
    line-height: 1.7;
    width: 55.3846vw;
    display: flex;
    align-items: center;
}
.con5 .about-event .prize .event-details .event1 {}
.con5 .about-event .prize .event-details .event2 {}
.con5 .about-event .prize .event-details .event3 {}


/* con6 */
.con6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/con6-bg.png');
    overflow: hidden; 
    position: relative;
    margin-bottom: 0; 
}

.event-title {
    width: 16.5154vw;
    height: 8.1923vw;
    margin: auto;
    background-image: url('/images/event-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.0769vw;
    margin-top: 7.6923vw;
}
.con6 .event-title {
    margin-top: 12vw;
}

.con6 p {
    position: relative;
}
.con6 p strong {
    font-weight: medium;
    display: inline-block;
    z-index: 10;
    position: relative;
}
.con6 p strong::after {
    content: '';
    width: 15.1795vw;
    height: 2.3077vw;
    display: block;
    background-color: #FFEBB1;
    position: absolute;
    top: 3.1vw;
    left: -0.4vw;
    z-index: -1;
    
}
.con6 .peko-quiz {
    /* width: 36.1538vw;
    margin: auto; */
}
.con6 .peko-ground {
    width: 100vw;
    transform: translateY(2.4vw);
}
.con6 h2 {
        font-family: "Samliphopangche", sans-serif;
        font-size: 7.1795vw;
        text-align: center;
        margin-top: 8.4615vw;
        margin-bottom: 9.2308vw;
      }
.con6 p {
        text-align: center;
        font-size: 3.5897vw;
        line-height: 6.1538vw;
        margin-bottom: 6.9231vw;
        margin-top: 0;
      }
.con6 p > strong {
    font-family: 'Pretendard', sans-serif;
}
.con6 .event-wrap {
        position: relative;
      }
.con6 .event-wrap .quiz-btn {
    width: 92.3077vw;
    height: 15.3846vw;
    background-color: #000;
    text-align: center;
    position: absolute;
    bottom: 12.6923vw;
    border-radius: 2.5641vw;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 4.1026vw;
    font-weight: 600;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-decoration: none;
    cursor: pointer;
}
.con6 .event-wrap .quiz-btn:hover {
    background-color: #2D2D2D;
}
.con6 .event-wrap .event-check {
    position: absolute;
    top: 45vw;
    left: 50%;
    transform: translateX(-50%);
    width: 84.6154vw;
}

/* sns-wrap */
.sns-wrap {
}
.sns-wrap > img {
    width: 92.3077vw;
    margin: auto;
    display: block;
    margin-top: 10.2564vw;
    margin-bottom: 5.1282vw;
}
.sns-wrap .insta-wrap {
    display: flex;
    gap: 2.5641vw;
    width: 92.3077vw;
    margin: auto;
    margin-bottom: 12.8205vw;
}
.sns-wrap .insta-wrap .insta-box {
    width: 44.8718vw;
    height: 11.7949vw;
    display: flex;
    gap: 2.0513vw;
    justify-content: center;
    align-items: center;
    border-radius: 1.2821vw;
    text-decoration: none;  
}
.sns-wrap .insta-wrap .insta-box p {
    font-size: 3.0769vw;    
    font-family: "Samliphopangche", sans-serif;
    color: #ffffff;
    line-height: 1;
}
.sns-wrap .insta-wrap .insta-box p,
.sns-wrap .insta-wrap .insta-box img {
    transform: translateX(-1vw);
}

.sns-wrap .insta-wrap .insta1 {
    background-color: #02AFE9;
}
.sns-wrap .insta-wrap .insta1:hover {
    background-color: #00A3D9;
}
.sns-wrap .insta-wrap .insta2 {
    background-color: #45BE95;
}
.sns-wrap .insta-wrap .insta2:hover {
    background-color: #28AC7F;
}




/* /////////////////////////////////////// */


@media (min-width: 431px) {
    /* 계산 기준: 430px */
    
    /* 1. 최상위 래퍼의 최대 너비를 430px로 제한하여 전체 확대 방지 */
    .container {
        max-width: 430px;
    }

    /* 2. body 및 기본 텍스트 스타일 고정 */
    body {
        /* 430px * 4.10vw = 약 17.63px */
        font-size: 17.6px; 
    }

    /* 3. 제목 크기 고정 */
    h2 {
        /* 430px * 6.15vw = 약 26.445px */
        font-size: 26.4px; 
        /* 430px * 5.13vw = 약 22.059px */
        margin-top: 22px; 
        /* 430px * 2.56vw = 약 11.008px */
        margin-bottom: 11px; 
    }
    
    /* 4. 컨텐츠 래퍼의 좌우 여백 고정 (⭐⭐ 주석 해제 및 px 고정 ⭐⭐) */
    .content-wrap {
        /* 430px * 5.13vw = 약 22.059px */
        /* padding-left: 22px; */
        /* padding-right: 22px; */
    }
    
    /* 5. con3 요소 크기 및 내부 폰트 고정 */
    .con3 {
        /* 430px * 102.5641vw = 약 441px */
        height: 441px;
    }
    .con3 p:nth-of-type(1) {
        /* 430px * 5.1282vw = 약 22.05px */
        font-size: 22px;
        /* 430px * 4.1026vw = 약 17.64px */
        margin-bottom: 18px;
    }
    .con3 p:nth-of-type(2) {
        /* 430px * 7.6923vw = 약 33.07px */
        font-size: 33px;
        /* 430px * 10.2564vw = 약 44.1px */
        line-height: 44px;
    }
    .con3 p:nth-of-type(2) strong {
        /* 430px * 8.2051vw = 약 35.28px */
        font-size: 35px;
    }
    .con3 p:nth-of-type(2) strong::after {
        /* 430px * 3.3333vw = 약 14.33px */
        height: 14px;
        /* 430px * 1vw = 약 4.3px */
        bottom: 4px;
    }

    /* 6. con4 요소 크기 고정 */
    .con4 {
        /* 430px * 10.2564vw = 44.1px */
        gap: 44px;
    }
    .con4 .about-peko {
        /* 430px * 18.9744vw = 81.6px */
        margin-bottom: 82px;
        /* 430px * 5.1282vw = 22.05px */
        gap: 22px;
    }
    .con4 .about-peko .clover {
        /* 430px * 29.2308vw = 125.7px */
        width: 126px;
    }
    .con4 .about-peko .about-cards {
        /* gap 고정: 430px * 4.1026vw = 17.64px */
        gap: 18px; 
    }
    .con4 .about-peko .about-cards img {
        /* 430px * 23.0769vw = 99.23px */
        width: 99px; 
    }
    .con4 .profile .profile-img {
        /* 430px * 88.9744vw = 382.58px */
        width: 383px;
    }


    /* 7. con6 요소 크기 및 내부 폰트, 버튼 고정 */
    .con6 {
        /* padding-top/bottom 고정 (430px * 10.25vw = 약 44.075px) */
        padding-top: 44px;
        padding-bottom: 44px;
    }
    .con6 .event-title {
        /* 430px * 16.5154vw = 약 71.01px */
        width: 71px;
        /* 430px * 8.1923vw = 약 35.22px */
        height: 35px;
        /* 430px * 3.0769vw = 약 13.23px */
        font-size: 13.2px;
        /* 430px * 7.6923vw = 약 33.07px */
        margin-top: 33px;
    }
    .con6 h2 {
        /* 430px * 7.1795vw = 약 30.87px */
        font-size: 30.9px;
        /* 430px * 8.4615vw = 약 36.38px */
        margin-top: 36px;
        /* 430px * 9.2308vw = 약 39.69px */
        margin-bottom: 40px;
    }
    .con6 p {
        /* 430px * 3.5897vw = 약 15.43px */
        font-size: 15.4px;
        /* 430px * 6.1538vw = 약 26.46px */
        line-height: 26.5px;
        /* 430px * 6.9231vw = 약 29.76px */
        margin-bottom: 30px;
    }

    /* ⭐ 8. 절대 위치 요소인 quiz-btn의 크기와 위치를 px로 고정 ⭐ */
    .con6 .quiz-btn {
        width: 397px; 
        height: 66px; 
        bottom: 26px; 
        left: 50%;
        margin-left: -198.5px; /* width의 절반: -(397px / 2) */
    }
}